<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyBHbJAyKCjATPa5aH7w476qrKpWD2Uue2g</string>
	<key>GIPHY_API_KEY</key>
	<string>IW5d1oCFVilr54qJXbIaQTBHFSH9xXef</string>
</dict>
</plist>
